* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}

.App {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1900px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  position: relative;
  height: 250px;
  width: 100%;
  transition: 0.5s ease;
  background: linear-gradient( rgba(45, 145, 42, 0.21), rgba(45, 145, 42, 0.21)), url('http://wallpaperpulse.com/thumb/261987.jpg');
  background-size: cover;
}

.navbar .navbar--fixed .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  padding-left: 96px;
  top: 10px;
  right: 0;
}

.navbar .navbar--fixed .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  margin-right: 20px;
  transition: 0.5s ease;
}

.navbar .navbar--fixed .nav .item a {
  text-decoration: none;
  color: #fff;
}

.navbar .navbar--fixed .logo {
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-left: 1%;
  width: 70px;
  height: 70px;
  transition: 0.5s ease;
}

.navbar .navbar--fixed .logo img {
  width: 120%
}

.post_find_Contract {
  width: 145px;
  background-color: #e3f4f496;
  text-align: center;
  padding: 7px 0;
  border-radius: 65px;
}

.welcome {
  color: #fff;
  width: 100%;
  clear: both;
  position: absolute;
  top: 65%;
  text-align: center;
}

.navbar.scrolled {
  transition: 0.5s ease;
  background: #2D918E
}

.scrolled .navbar--fixed .nav {
  top: 10px
}

.scrolled .welcome {
  display: none;
}

.scrolled.navbar {
  height: 60px;
  background-color: #2D918E;
  transition: 0.5s ease;
}

.scrolled.navbar .navbar--fixed .nav .item {
  transition: 0.5s ease;
}

/* Keep it please I need it for active links */

/* .scrolled.navbar .navbar--fixed .nav .item .contact {
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
} */

.scrolled.navbar .navbar--fixed .logo {
  width: 40px;
  transition: 0.5s ease;
}

.companyAction {
  position: relative;
  margin-left: 50px;
}

.companyAction__span {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 18px;
  cursor: pointer;
}

.companyAction__img {
  position: absolute;
  float: left;
  top: -10px;
  left: -50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 13px;
  vertical-align: middle;
  border-style: none;
  width: 40px;
}

.companyAction__span .fas {
  float: right;
  font-size: 10px;
  margin-left: 13PX;
  margin-top: 5%;
}

.companyAction-content {
  position: absolute;
  right: -12%;
  margin: 0;
  background: #ffffff;
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-top: 15px;
  width: 205px;
  padding: 20px 3px;
  z-index: 10000
}

.companyAction-content::after {
  position: absolute;
  right: 10px;
  top: -6px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.companyAction-content a {
  float: left;
  width: 100%;
  padding: 5px 16px;
  position: relative;
  display: block;
}

.companyAction-content {
  display: none;
}

.companyAction-content a {
  color: #2D918E !important;
}

.companyAction-content a:hover {
  background-color: #E3F4F4;
}

.companyAction:hover .companyAction-content {
  display: block;
}

.companyAction:hover {
  height: 40px;
}

.companyAction-content .fas {
  margin-right: 15px
}

#main {
  margin-top:250px;
}

#main.scrolled {
  margin-top: 130px;
}
