* {
  margin: 0;
  padding: 0;
}

.navBar {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.textNavBar {
  font-family: 'Work Sans', sans-serif;
  padding: 10px 0;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  background: #384e75;
  color: #E3F4F4;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  text-align: center;
}

.textNavBar a {
  text-decoration-line: none;
  color: white;
}

.logoDiv {
  position: relative;
  top: 1%;
  left: 1%;
  width: 20%;
}
