.contanier {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 50px 300px 300px;
  grid-template-areas:
  "z z z z z z z z z z z z"
  "o o o o o o o o o w w w"
  "t t t t t t t t t w w w";
}
.zero{
grid-area: z;
}

.one{
  background: red;
  grid-area: o;
}
.two{
  background: blue;
  grid-area:w;
}
.three{
  background: yellow;
  grid-area:t
}

h2{
  margin-left: 30px
}

.boxDiv {
    display: inline-block;
    margin-top: -50px
}
.icon_div{
  margin-top: 60px;
  display: inline-block;
  margin-left: 15px;
}

.text_div{
  display: inline-block;
  margin-left: -10px

}

ul {
  list-style: none;
  margin-left: -20px;
  margin-top: 0px
}

ul li {
    font-size: 14px;
    margin-top:10px;
    margin-left: 20px

}
