.supported {
  display: flex;
  /* flex-direction: row; */
  height: 640px;
  margin-top:5%;
  display: flex;
  flex-direction: column;
  background:white;
  padding-bottom: 250px;
}

.supported__heading {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  position: relative;
  height: 100px;
  margin: auto;
  color: #000;
  font-size: 15px;
  margin-top: 39px;
}

.line__header {
  display: flex;
  position: absolute;
  background: #fbb900;
  margin: auto;
  padding: auto;
  left: 0;
  right: 0;
  margin-left: 35px;
  top:65px;
  width: 350px;
  height: 2px;
  line-height: -20px
}

.imgs__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 0;
  padding-bottom: 30px;
  margin-top: 10px;
}

.img__first{
  flex:1;
  order: 4;
}
.img__second{
  flex: 1;
  order: 2;

}

.img_fifth{
  flex: 1;
  order: 3;
}
.img__third{
  flex: 1;
  order: 4;

}
.img__fourth{
  flex: 1;
  order: 1;
}
/* .img__div {
  padding:50px;
  margin: auto;
}

 .img__first {
  margin-top:65px;
}

.img__second {
  padding:60px 70px;
  margin-top: 10px;
}

.img__third {
  padding-top: 60px;
  margin-top: 15px;

}

.img__fourth {
margin-top:80px;

}

.img_fifth {
  margin-top: 90px;
}
 */
.slick-arrow{
  display: none !important;
}

.allImages{
  height: 350px;
  position: relative;
  /* min-width: 250px; */
}
.allImages div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .allImages div img {
  position: absolute;
  top: 50%;
  width: 100%;
} */
