.placesMainDiv{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 40px
}

 .placesMainDiv h3 ,
 .comDescription h3 {
  color:#545151;
  margin-left: 30px;
  font-size: 20px
}

.PlacesToWork{
  display: flex;
  margin-top: 10px;
  width: 63.7%;
  height: 400px;
  margin-left: 40px;
  border-radius: 10px;
}

.PlacesToWork .spanTextsContainer{
 margin:50px 25px 0 ;
}

.PlacesToWork .spanText {
  display:inline-block;
  margin: 10px;
  width: 160px;
  height: 60px;
  border-radius: 9px;
  text-align: center;
  line-height: 65px;
  margin-left: 10px;
  text-align: left;
  padding-left: 20px;
  background: #E5E5E5;
  font-size: 18px
}


.no-line{
  text-decoration-line: none;
  color: white;
}

.browseBtnDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.browseBtnDiv button{
  display: block;
  width: 300px;
  height: 65px;
  padding: 16px 32px;
  margin: 50px 10px;
  background-color: #2D918E;
  color: white;
  border: none;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.browseBtnDiv button:hover {
    background-color:#6ca19f;
    color: #2D918E;
    border: 1px solid #2D918E;
}
